In [339]:
import pandas as pd

df = pd.read_csv("zomato.csv")

df.shape

(7527, 21)

In [340]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

In [341]:
df["Rating text"].unique()

array(['Excellent', 'Very Good', 'Good', 'Excelente', 'Muito bom',
       'Average', 'Not rated', 'Poor', 'Vynikajúce', 'Muito Bom',
       'Bardzo dobrze', 'Muy Bueno', 'Bueno', 'Baik', 'Biasa',
       'Skvělá volba', 'Velmi dobré', 'Harika', 'Çok iyi', 'Eccellente',
       'Veľmi dobré', 'Buono', 'Bom', 'Skvělé', 'Wybitnie', 'Sangat Baik',
       'Terbaik', 'İyi'], dtype=object)

In [342]:
df.isnull().sum()

Restaurant ID            0
Restaurant Name          0
Country Code             0
City                     0
Address                  0
Locality                 0
Locality Verbose         0
Longitude                0
Latitude                 0
Cuisines                15
Average Cost for two     0
Currency                 0
Has Table booking        0
Has Online delivery      0
Is delivering now        0
Switch to order menu     0
Price range              0
Aggregate rating         0
Rating color             0
Rating text              0
Votes                    0
dtype: int64

In [343]:
df = df.drop_duplicates()
df = df.dropna()
df = df.drop(columns=["Switch to order menu"])
df = df.rename(columns={'Country Code': 'Country'})

df.shape

(6929, 20)

In [344]:
df.head(1)

,Restaurant ID,Restaurant Name,Country,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,3,4.6,3F7E00,Excellent,619

In [345]:
media = df[df['Average Cost for two'] != 25000017]['Average Cost for two'].mean()
df['Average Cost for two'] = df['Average Cost for two'].replace(25000017, media)

In [346]:
countries = {
 1: "India",
 14: "Australia",
 30: "Brazil",
 37: "Canada",
 94: "Indonesia",
 148: "New Zeland",
 162: "Philippines",
 166: "Qatar",
 184: "Singapure",
 189: "South Africa",
 191: "Sri Lanka",
 208: "Turkey",
 214: "United Arab Emirates",
 215: "England",
 216: "United States of America",
 }

taxas_cambio = {
    'Botswana Pula(P)': 0.075,  
    'Brazilian Real(R$)': 0.20,    
    'Dollar($)': 1.0,               
    'Emirati Diram(AED)': 0.27,     
    'Indian Rupees(Rs.)': 0.012,   
    'Indonesian Rupiah(IDR)': 0.000065, 
    'NewZealand($)': 0.61,          
    'Pounds(£)': 1.30,              
    'Qatari Rial(QR)': 0.27,        
    'Rand(R)': 0.052,               
    'Sri Lankan Rupee(LKR)': 0.0031,
    'Turkish Lira(TL)': 0.036       
}
rating_translation = {
    'Excelente': 'Excellent',
    'Muito bom': 'Very Good',
    'Vynikajúce': 'Excellent',
    'Muito Bom': 'Very Good',
    'Bardzo dobrze': 'Very Good',
    'Muy Bueno': 'Very Good',
    'Bueno': 'Good',
    'Baik': 'Good',
    'Biasa': 'Average',
    'Skvělá volba': 'Excellent',
    'Velmi dobré': 'Very Good',
    'Harika': 'Excellent',
    'Çok iyi': 'Very Good',
    'Eccellente': 'Excellent',
    'Veľmi dobré': 'Very Good',
    'Buono': 'Good',
    'Bom': 'Good',
    'Skvělé': 'Excellent',
    'Wybitnie': 'Excellent',
    'Sangat Baik': 'Very Good',
    'Terbaik': 'Excellent',
    'İyi': 'Good'
}
price_range = {
    1: "cheap",
    2: "normal",
    3: "expensive",
    4: "gourmet"
}

df['Rating text'] = df['Rating text'].replace(rating_translation)
df["Country"] = df["Country"].replace(countries)
df["Price range"] = df["Price range"].replace(price_range)

def converter_para_usd(custo, moeda):
    return custo * taxas_cambio.get(moeda, 1)

df['Average Cost for two usd'] = df.apply(lambda x: converter_para_usd(x['Average Cost for two'], x['Currency']), axis=1)

# Inverter os valores da coluna "Has booking table"
df['Has Table booking'] = df['Has Table booking'].apply(lambda x: 1 if x == 0 else 0)
df["Cuisines"] = df.loc[:,"Cuisines"].apply(lambda x:x.split(",")[0])

In [347]:
df.head()

,Restaurant ID,Restaurant Name,Country,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating color,Rating text,Votes,Average Cost for two usd
0,6310675,Mama Lou's Italian Kitchen,Philippines,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),0,0,0,expensive,4.6,3F7E00,Excellent,619,82.5
2,6314542,Blackbird,Philippines,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,European,...,Botswana Pula(P),1,0,0,gourmet,4.7,3F7E00,Excellent,469,232.5
3,6301293,Banapple,Philippines,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,Filipino,...,Botswana Pula(P),1,0,0,expensive,4.4,5BA829,Very Good,867,60.0
4,6315689,Bad Bird,Philippines,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),1,0,0,expensive,4.4,5BA829,Very Good,858,52.5
5,6304833,Manam,Philippines,Makati City,"Level 1, Greenbelt 2, Ayala Center, Greenbelt,...","Greenbelt 2, San Lorenzo, Makati City","Greenbelt 2, San Lorenzo, Makati City, Makati ...",121.020380,14.552351,Filipino,...,Botswana Pula(P),1,0,0,expensive,4.7,3F7E00,Excellent,930,52.5

<h2>Respondendo as perguntas<h2>

<h3>Geral<h3>

In [348]:
# Número de restaurantes únicos
num_restaurantes = df['Restaurant Name'].nunique()
print(f"Quantidade de restaurantes únicos: {num_restaurantes}")

Quantidade de restaurantes únicos: 5901

In [349]:
# Número de países únicos
num_paises = df['Country'].nunique()
print(f"Quantidade de países únicos: {num_paises}")

Quantidade de países únicos: 15

In [350]:
# Número de cidades únicas
num_cidades = df['City'].nunique()
print(f"Quantidade de cidades únicas: {num_cidades}")

Quantidade de cidades únicas: 125

In [351]:
# Total de avaliações feitas
total_avaliacoes = df['Votes'].sum()
print(f"Total de avaliações feitas: {total_avaliacoes}")

Total de avaliações feitas: 4194533

In [352]:
# Número de tipos de culinária únicos
num_culinarias = df['Cuisines'].nunique()
print(f"Quantidade de tipos de culinária únicos: {num_culinarias}")

Quantidade de tipos de culinária únicos: 165

<h3>País<h3>

In [353]:
# País com mais cidades registradas
pais_mais_cidades = df.groupby('Country')['City'].nunique().idxmax()
num_cidades_pais = df.groupby('Country')['City'].nunique().max()
print(f"O país com mais cidades registradas é {pais_mais_cidades}, com {num_cidades_pais} cidades registradas.")

O país com mais cidades registradas é India, com 49 cidades registradas.

In [354]:
# País com mais restaurantes registrados
pais_mais_restaurantes = df.groupby('Country')['Restaurant Name'].nunique().idxmax()
num_restaurantes_pais = df.groupby('Country')['Restaurant Name'].nunique().max()
print(f"O país com mais restaurantes registrados é {pais_mais_restaurantes}, com {num_restaurantes_pais} restaurantes registrados.")

O país com mais restaurantes registrados é India, com 2480 restaurantes registrados.

In [355]:
# País com mais restaurantes com o nível de preço igual a 4 (Gourmet)
df_gourmet = df[df['Price range'] == 'gourmet']
pais_mais_gourmet = df_gourmet['Country'].value_counts().idxmax()
num_gourmet = df_gourmet['Country'].value_counts().max()
print(f"O país com mais restaurantes com o nível de preço igual a 4 é {pais_mais_gourmet}, com {num_gourmet} restaurantes registrados.")

O país com mais restaurantes com o nível de preço igual a 4 é United States of America, com 415 restaurantes registrados.

In [356]:
# País com a maior quantidade de tipos de culinária distintos
pais_mais_culinarias = df.groupby('Country')['Cuisines'].nunique().idxmax()
num_culinarias_pais = df.groupby('Country')['Cuisines'].nunique().max()
print(f"O país com a maior quantidade de tipos de culinária distintos é {pais_mais_culinarias}, com {num_culinarias_pais} tipos distintos.")

O país com a maior quantidade de tipos de culinária distintos é India, com 77 tipos distintos.

In [357]:
# País com a maior quantidade de avaliações feitas
pais_mais_avaliacoes = df.groupby('Country')['Votes'].sum().idxmax()
num_avaliacoes = df.groupby('Country')['Votes'].sum().max()
print(f"O país com a maior quantidade de avaliações feitas é {pais_mais_avaliacoes}, com {num_avaliacoes} avaliações registradas.")

O país com a maior quantidade de avaliações feitas é India, com 2800164 avaliações registradas.

In [358]:
# País com a maior quantidade de restaurantes que fazem entrega
pais_mais_restaurantes_entrega = df[df['Has Online delivery'] == 1]['Country'].value_counts().idxmax()
num_entregas = df[df['Has Online delivery'] == 1]['Country'].value_counts().max()
print(f"O país com a maior quantidade de restaurantes que fazem entrega é {pais_mais_restaurantes_entrega}, com {num_entregas} restaurantes que fazem entrega.")

O país com a maior quantidade de restaurantes que fazem entrega é India, com 2177 restaurantes que fazem entrega.

In [359]:
# País com a maior quantidade de restaurantes que aceitam reservas
pais_mais_reservas = df[df['Has Table booking'] == 1]['Country'].value_counts().idxmax()
num_reservas = df[df['Has Table booking'] == 1]['Country'].value_counts().max()
print(f"O país com a maior quantidade de restaurantes que aceitam reservas é {pais_mais_reservas}, com {num_reservas} restaurantes que aceitam reservas.")

O país com a maior quantidade de restaurantes que aceitam reservas é India, com 2855 restaurantes que aceitam reservas.

In [360]:
# País com a média de avaliações mais alta
pais_media_avaliacoes = df.groupby('Country')['Votes'].mean().idxmax()
media_avaliacoes = df.groupby('Country')['Votes'].mean().max()
print(f"O país com a maior quantidade média de avaliações registrada é {pais_media_avaliacoes}, com uma média de {media_avaliacoes:.2f} avaliações.")

O país com a maior quantidade média de avaliações registrada é Indonesia, com uma média de 1112.83 avaliações.

In [361]:
# País com a média de nota mais alta
pais_nota_alta = df.groupby('Country')['Aggregate rating'].mean().idxmax()
media_nota_alta = df.groupby('Country')['Aggregate rating'].mean().max()
print(f"O país com a maior nota média registrada é {pais_nota_alta}, com uma média de {media_nota_alta:.2f}.")

O país com a maior nota média registrada é Indonesia, com uma média de 4.60.

In [362]:
# País com a média de nota mais baixa
pais_nota_baixa = df.groupby('Country')['Aggregate rating'].mean().idxmin()
media_nota_baixa = df.groupby('Country')['Aggregate rating'].mean().min()
print(f"O país com a menor nota média registrada é {pais_nota_baixa}, com uma média de {media_nota_baixa:.2f}.")

O país com a menor nota média registrada é Brazil, com uma média de 3.32.

In [363]:
# Média de preço de um prato para dois por país
media_preco_por_pais = df.groupby('Country')['Average Cost for two usd'].mean()
for pais, preco in media_preco_por_pais.items():
    print(f"A média de preço de um prato para dois no {pais} é {preco:.2f} dolares.")

A média de preço de um prato para dois no Australia é 92.54 dolares.
A média de preço de um prato para dois no Brazil é 27.76 dolares.
A média de preço de um prato para dois no Canada é 41.86 dolares.
A média de preço de um prato para dois no England é 56.56 dolares.
A média de preço de um prato para dois no India é 8.45 dolares.
A média de preço de um prato para dois no Indonesia é 19.70 dolares.
A média de preço de um prato para dois no New Zeland é 37.91 dolares.
A média de preço de um prato para dois no Philippines é 92.09 dolares.
A média de preço de um prato para dois no Qatar é 46.98 dolares.
A média de preço de um prato para dois no Singapure é 141.44 dolares.
A média de preço de um prato para dois no South Africa é 17.64 dolares.
A média de preço de um prato para dois no Sri Lanka é 8.00 dolares.
A média de preço de um prato para dois no Turkey é 4.63 dolares.
A média de preço de um prato para dois no United Arab Emirates é 41.50 dolares.
A média de preço de um prato para dois no United States of America é 55.03 dolares.

<h3>Cidade<h3>

In [364]:
# Cidade com mais restaurantes registrados
cidade_mais_restaurantes = df['City'].value_counts().idxmax()
num_restaurantes_cidade = df['City'].value_counts().max()
print(f"A cidade com mais restaurantes registrados é {cidade_mais_restaurantes}, com {num_restaurantes_cidade} restaurantes registrados.")

A cidade com mais restaurantes registrados é Coimbatore, com 80 restaurantes registrados.

In [365]:
# Filtrar restaurantes com nota média acima de 4
restaurantes_mais_4 = df[df['Aggregate rating'] > 4]

# Cidade com mais restaurantes com nota média acima de 4
cidade_mais_4 = restaurantes_mais_4['City'].value_counts().idxmax()
num_mais_4 = restaurantes_mais_4['City'].value_counts().max()
print(f"A cidade com mais restaurantes com nota média acima de 4 é {cidade_mais_4}, com {num_mais_4} restaurantes.")

A cidade com mais restaurantes com nota média acima de 4 é Bangalore, com 79 restaurantes.

In [366]:
# Filtrar restaurantes com nota média abaixo de 2.5
restaurantes_menos_2_5 = df[df['Aggregate rating'] < 2.5]

# Cidade com mais restaurantes com nota média abaixo de 2.5
cidade_menos_2_5 = restaurantes_menos_2_5['City'].value_counts().idxmax()
num_menos_2_5 = restaurantes_menos_2_5['City'].value_counts().max()
print(f"A cidade com mais restaurantes com nota média abaixo de 2.5 é {cidade_menos_2_5}, com {num_menos_2_5} restaurantes.")

A cidade com mais restaurantes com nota média abaixo de 2.5 é Gangtok, com 33 restaurantes.

In [367]:
# Cidade com o maior valor médio de um prato para dois
cidade_mais_preco = df.groupby('City')['Average Cost for two usd'].mean().idxmax()
maior_preco = df.groupby('City')['Average Cost for two usd'].mean().max()
print(f"A cidade com o maior valor médio de um prato para dois é {cidade_mais_preco}, com uma média de {maior_preco:.2f} dolares.")

A cidade com o maior valor médio de um prato para dois é Pasay City, com uma média de 300.00 dolares.

In [391]:
# Cidade com a maior quantidade de tipos de culinária distintos
cidade_mais_culinarias = df.groupby('City')['Cuisines'].nunique().idxmax()
max_culinarias = df.groupby('City')['Cuisines'].nunique().max()
print(f"A cidade com a maior quantidade de tipos de culinária distintos é {cidade_mais_culinarias}, com {max_culinarias} tipos distintos de culinária.")

A cidade com a maior quantidade de tipos de culinária distintos é Birmingham, com 32 tipos distintos de culinária.

In [369]:
# Cidade com a maior quantidade de restaurantes que fazem reservas
cidade_mais_reservas = df[df['Has Table booking'] == 1]['City'].value_counts().idxmax()
max_reservas = df[df['Has Table booking'] == 1]['City'].value_counts().max()
print(f"A cidade com a maior quantidade de restaurantes que fazem reservas é {cidade_mais_reservas}, com {max_reservas} restaurantes que fazem reservas.")

A cidade com a maior quantidade de restaurantes que fazem reservas é Sharjah, com 80 restaurantes que fazem reservas.

In [370]:
# Cidade com a maior quantidade de restaurantes que fazem entregas
cidade_mais_entregas = df[df['Is delivering now'] == 1]['City'].value_counts().idxmax()
max_entregas = df[df['Is delivering now'] == 1]['City'].value_counts().max()
print(f"A cidade com a maior quantidade de restaurantes que fazem entregas é {cidade_mais_entregas}, com {max_entregas} restaurantes que fazem entregas.")

A cidade com a maior quantidade de restaurantes que fazem entregas é Vadodara, com 48 restaurantes que fazem entregas.

In [371]:
# Cidade com a maior quantidade de restaurantes que aceitam pedidos online
cidade_mais_entregas_online = df[df['Has Online delivery'] == 1]['City'].value_counts().idxmax()
max_entregas_online = df[df['Has Online delivery'] == 1]['City'].value_counts().max()
print(f"A cidade com a maior quantidade de restaurantes que aceitam pedidos online é {cidade_mais_entregas_online}, com {max_entregas_online} restaurantes.")

A cidade com a maior quantidade de restaurantes que aceitam pedidos online é Bhopal, com 75 restaurantes.

<h3>Restaurantes<h3>

In [372]:
# Restaurante com a maior quantidade de avaliações
restaurante_mais_avalicoes = df.groupby('Restaurant Name')['Votes'].sum().idxmax()
max_avaliacoes = df.groupby('Restaurant Name')['Votes'].sum().max()
print(f"O restaurante com a maior quantidade de avaliações é {restaurante_mais_avalicoes}, com {max_avaliacoes} avaliações.")

O restaurante com a maior quantidade de avaliações é Domino's Pizza, com 59749 avaliações.

In [373]:
# Restaurante com a maior nota média
restaurante_maior_nota = df.groupby('Restaurant Name')['Aggregate rating'].mean().idxmax()
max_nota = df.groupby('Restaurant Name')['Aggregate rating'].mean().max()
print(f"O restaurante com a maior nota média é {restaurante_maior_nota}, com uma nota média de {max_nota:.2f}.")

O restaurante com a maior nota média é 5 Napkin Burger, com uma nota média de 4.90.

In [374]:
# Restaurante com o maior valor de um prato para duas pessoas
restaurante_maior_preco = df.groupby('Restaurant Name')['Average Cost for two'].mean().idxmax()
max_custo = df.groupby('Restaurant Name')['Average Cost for two'].mean().max()
print(f"O restaurante com o maior valor de um prato para duas pessoas é {restaurante_maior_preco}, com um valor médio de {max_custo:.2f} unidades monetárias.")

O restaurante com o maior valor de um prato para duas pessoas é The Café - Hotel Mulia, com um valor médio de 1200000.00 unidades monetárias.

In [392]:
# Filtrar restaurantes de culinária brasileira
restaurantes_brasileiros = df[(df['Cuisines'].str.contains('Brazilian', case=False))]

# Restaurante brasileiro com a menor média de avaliação
restaurante_menor_nota = restaurantes_brasileiros.groupby('Restaurant Name')['Aggregate rating'].mean().idxmin()
menor_nota_brasileiro = restaurantes_brasileiros.groupby('Restaurant Name')['Aggregate rating'].mean().min()
print(f"O restaurante de culinária brasileira com a menor média de avaliação é {restaurante_menor_nota}, com uma nota média de {menor_nota_brasileiro:.2f}.")

O restaurante de culinária brasileira com a menor média de avaliação é Bar do Luiz Fernandes, com uma nota média de 0.00.

In [393]:
# Filtrar restaurantes de culinária brasileira no Brasil
restaurantes_brasileiros_brasil = df[(df['Cuisines'].str.contains('Brazilian', case=False)) & (df['Country'] == 'Brazil')]

# Restaurante brasileiro no Brasil com a maior média de avaliação
restaurante_brasileiro_maior_nota = restaurantes_brasileiros_brasil.groupby('Restaurant Name')['Aggregate rating'].mean().idxmax()
maior_nota_brasil = restaurantes_brasileiros_brasil.groupby('Restaurant Name')['Aggregate rating'].mean().max()
print(f"O restaurante de culinária brasileira no Brasil com a maior média de avaliação é {restaurante_brasileiro_maior_nota}, com uma nota média de {maior_nota_brasil:.2f}.")

O restaurante de culinária brasileira no Brasil com a maior média de avaliação é Aprazível, com uma nota média de 4.90.

In [394]:
# Média de avaliações para restaurantes que aceitam pedidos online e os que não aceitam
avaliacoes_com_entrega = df[df['Has Online delivery'] == 1]['Votes'].mean()
avaliacoes_sem_entrega = df[df['Has Online delivery'] == 0]['Votes'].mean()

print(f"Média de avaliações para restaurantes que aceitam pedidos online: {avaliacoes_com_entrega:.2f}")
print(f"Média de avaliações para restaurantes que não aceitam pedidos online: {avaliacoes_sem_entrega:.2f}")

if avaliacoes_com_entrega > avaliacoes_sem_entrega:
    print("Os restaurantes que aceitam pedidos online, na média, possuem mais avaliações registradas.")
else:
    print("Os restaurantes que não aceitam pedidos online, na média, possuem mais avaliações registradas.")

Média de avaliações para restaurantes que aceitam pedidos online: 838.82
Média de avaliações para restaurantes que não aceitam pedidos online: 479.42
Os restaurantes que aceitam pedidos online, na média, possuem mais avaliações registradas.

In [395]:
# Média de valor de um prato para duas pessoas para restaurantes que fazem reservas e os que não fazem
custo_com_reserva = df[df['Has Table booking'] == 1]['Average Cost for two'].mean()
custo_sem_reserva = df[df['Has Table booking'] == 0]['Average Cost for two'].mean()

print(f"Média de valor de um prato para duas pessoas para restaurantes que fazem reservas: {custo_com_reserva:.2f}")
print(f"Média de valor de um prato para duas pessoas para restaurantes que não fazem reservas: {custo_sem_reserva:.2f}")

if custo_com_reserva > custo_sem_reserva:
    print("Os restaurantes que fazem reservas, na média, possuem um maior valor de um prato para duas pessoas.")
else:
    print("Os restaurantes que não fazem reservas, na média, possuem um maior valor de um prato para duas pessoas.")

Média de valor de um prato para duas pessoas para restaurantes que fazem reservas: 3488.60
Média de valor de um prato para duas pessoas para restaurantes que não fazem reservas: 10483.89
Os restaurantes que não fazem reservas, na média, possuem um maior valor de um prato para duas pessoas.

In [396]:
# Filtrar restaurantes japoneses e churrascarias americanas
restaurantes_japones_eua = df[(df['Cuisines'].str.contains('Japanese', case=False)) & (df['Country'] == 'United States of America')]
restaurantes_churrascaria_eua = df[(df['Cuisines'].str.contains('BBQ', case=False)) & (df['Country'] == 'United States of America')]

# Média de valor de um prato para duas pessoas para cada tipo
custo_japones = restaurantes_japones_eua['Average Cost for two'].mean()
custo_churrasco = restaurantes_churrascaria_eua['Average Cost for two'].mean()

print(f"Média de valor de um prato para duas pessoas em restaurantes japoneses nos EUA: {custo_japones:.2f}")
print(f"Média de valor de um prato para duas pessoas em churrascarias americanas (BBQ) nos EUA: {custo_churrasco:.2f}")

if custo_japones > custo_churrasco:
    print("Os restaurantes de culinária japonesa nos EUA possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ).")
else:
    print("As churrascarias americanas (BBQ) possuem um valor médio de prato para duas pessoas maior que os restaurantes de culinária japonesa nos EUA.")

Média de valor de um prato para duas pessoas em restaurantes japoneses nos EUA: 56.41
Média de valor de um prato para duas pessoas em churrascarias americanas (BBQ) nos EUA: 39.64
Os restaurantes de culinária japonesa nos EUA possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ).

<h3>Tipos de culinária<h3>

In [397]:
# Filtrar restaurantes de culinária italiana
restaurantes_italianos = df[df['Cuisines'].str.contains('Italian', case=False)]

# Restaurante italiano com a maior média de avaliação
restaurante_italiano_maior_nota = restaurantes_italianos.groupby('Restaurant Name')['Aggregate rating'].mean().idxmax()
maior_nota_italiano = restaurantes_italianos.groupby('Restaurant Name')['Aggregate rating'].mean().max()
print(f"O restaurante de culinária italiana com a maior média de avaliação é {restaurante_italiano_maior_nota}, com uma nota média de {maior_nota_italiano:.2f}.")

O restaurante de culinária italiana com a maior média de avaliação é Amano Restaurant, com uma nota média de 4.90.

In [398]:
# Restaurante italiano com a menor média de avaliação
restaurante_italiano_menor_nota = restaurantes_italianos.groupby('Restaurant Name')['Aggregate rating'].mean().idxmin()
menor_nota_italiano = restaurantes_italianos.groupby('Restaurant Name')['Aggregate rating'].mean().min()
print(f"O restaurante de culinária italiana com a menor média é {restaurante_italiano_menor_nota}, com uma nota média de {menor_nota_italiano:.2f}.")

O restaurante de culinária italiana com a menor média é Avenida Paulista, com uma nota média de 0.00.

In [399]:
# Filtrar restaurantes de culinária americana
restaurantes_americanos = df[df['Cuisines'].str.contains('American', case=False)]

# Restaurante americano com a maior média de avaliação
restaurante_americano_maior_nota = restaurantes_americanos.groupby('Restaurant Name')['Aggregate rating'].mean().idxmax()
maior_nota_americano = restaurantes_americanos.groupby('Restaurant Name')['Aggregate rating'].mean().max()
print(f"O restaurante de culinária americana com a maior média de avaliação é {restaurante_americano_maior_nota}, com uma nota média de {maior_nota_americano:.2f}.")

O restaurante de culinária americana com a maior média de avaliação é 5 Napkin Burger, com uma nota média de 4.90.

In [383]:
# Restaurante americano com a menor média de avaliação
restaurante_americano_menor_nota = restaurantes_americanos.groupby('Restaurant Name')['Aggregate rating'].mean().idxmin()
menor_nota_americano = restaurantes_americanos.groupby('Restaurant Name')['Aggregate rating'].mean().min()
print(f"O restaurante de culinária americana com a menor média de avaliação é {restaurante_americano_menor_nota}, com uma nota média de {menor_nota_americano:.2f}.")

O restaurante de culinária americana com a menor média de avaliação é Alston Bar & Beef, com uma nota média de 0.00.

In [400]:
# Filtrar restaurantes de culinária árabe
restaurantes_arabes = df[df['Cuisines'].str.contains('Arabian', case=False)]

# Restaurante árabe com a maior média de avaliação
restaurante_arabe_maior_nota = restaurantes_arabes.groupby('Restaurant Name')['Aggregate rating'].mean().idxmax()
maior_nota_arabe = restaurantes_arabes.groupby('Restaurant Name')['Aggregate rating'].mean().max()
print(f"O restaurante de culinária árabe com a maior média de avaliação é {restaurante_arabe_maior_nota}, com uma nota média de {maior_nota_arabe:.2f}.")

O restaurante de culinária árabe com a maior média de avaliação é Mandi@36, com uma nota média de 4.70.

In [401]:
# Restaurante árabe com a menor média de avaliação
restaurante_arabe_menor_nota = restaurantes_arabes.groupby('Restaurant Name')['Aggregate rating'].mean().idxmin()
menor_nota_arabe = restaurantes_arabes.groupby('Restaurant Name')['Aggregate rating'].mean().min()
print(f"O restaurante de culinária árabe com a menor média de avaliação é {restaurante_arabe_menor_nota}, com uma nota média de {menor_nota_arabe:.2f}.")

O restaurante de culinária árabe com a menor média de avaliação é Raful, com uma nota média de 0.00.

In [386]:
# Filtrar restaurantes de culinária japonesa
restaurantes_japoneses = df[df['Cuisines'].str.contains('Japanese', case=False)]

# Restaurante japonês com a maior média de avaliação
restaurante_japones_maior_nota = restaurantes_japoneses.groupby('Restaurant Name')['Aggregate rating'].mean().idxmax()
maior_nota_japones = restaurantes_japoneses.groupby('Restaurant Name')['Aggregate rating'].mean().max()
print(f"O restaurante de culinária japonesa com a maior média de avaliação é {restaurante_japones_maior_nota}, com uma nota média de {maior_nota_japones:.2f}.")

O restaurante de culinária japonesa com a maior média de avaliação é Chotto Matte, com uma nota média de 4.90.

In [387]:
# Restaurante japonês com a menor média de avaliação
restaurante_japones_menor_nota = restaurantes_japoneses.groupby('Restaurant Name')['Aggregate rating'].mean().idxmin()
menor_nota_japones = restaurantes_japoneses.groupby('Restaurant Name')['Aggregate rating'].mean().min()
print(f"O restaurante de culinária japonesa com a menor média de avaliação é {restaurante_japones_menor_nota}, com uma nota média de {menor_nota_japones:.2f}.")

O restaurante de culinária japonesa com a menor média de avaliação é Banzai Sushi, com uma nota média de 0.00.

In [402]:
# Filtrar restaurantes de culinária caseira
restaurantes_caseiros = df[df['Cuisines'].str.contains('Home', case=False)]

# Restaurante de culinária caseira com a maior média de avaliação
restaurante_caseiro_maior_nota = restaurantes_caseiros.groupby('Restaurant Name')['Aggregate rating'].mean().idxmax()
maior_nota_caseiro = restaurantes_caseiros.groupby('Restaurant Name')['Aggregate rating'].mean().max()
print(f"O restaurante de culinária caseira com a maior média de avaliação é {restaurante_caseiro_maior_nota}, com uma nota média de {maior_nota_caseiro:.2f}.")

O restaurante de culinária caseira com a maior média de avaliação é Kanaat Lokantası, com uma nota média de 4.00.

In [403]:
# Restaurante de culinária caseira com a menor média de avaliação
restaurante_caseiro_menor_nota = restaurantes_caseiros.groupby('Restaurant Name')['Aggregate rating'].mean().idxmin()
menor_nota_caseiro = restaurantes_caseiros.groupby('Restaurant Name')['Aggregate rating'].mean().min()
print(f"O restaurante de culinária caseira com a menor média de avaliação é {restaurante_caseiro_menor_nota}, com uma nota média de {menor_nota_caseiro:.2f}.")

O restaurante de culinária caseira com a menor média de avaliação é GurMekan Restaurant, com uma nota média de 3.70.

In [390]:
# Média de valor de um prato para duas pessoas por tipo de culinária
cuisine_avg_cost = df['Cuisines'].str.split(', ', expand=True).stack().groupby(df['Cuisines']).apply(lambda x: df.loc[x.index, 'Average Cost for two'].mean())

# Tipo de culinária com o maior valor médio
max_cost_cuisine = cuisine_avg_cost.idxmax()
max_cost_cuisine_value = cuisine_avg_cost.max()
print(f"O tipo de culinária com o maior valor médio de um prato para duas pessoas é {max_cost_cuisine}, com um valor médio de {max_cost_cuisine_value:.2f}.")

ValueError: attempt to get argmax of an empty sequence

In [ ]:
# Filtrar restaurantes que aceitam pedidos online e fazem entregas
online_delivery_restaurants = df[(df['Has Online delivery'] == 1) & (df['Is delivering now'] == 1)]

# Contar número de restaurantes por tipo de culinária
cuisine_online_delivery_count = online_delivery_restaurants['Cuisines'].str.split(', ', expand=True).stack().groupby(online_delivery_restaurants['Cuisines']).count()

# Tipo de culinária com mais restaurantes que aceitam pedidos online e fazem entregas
max_online_delivery_cuisine = cuisine_online_delivery_count.idxmax()
max_online_delivery_cuisine_count = cuisine_online_delivery_count.max()
print(f"O tipo de culinária com mais restaurantes que aceitam pedidos online e fazem entregas é {max_online_delivery_cuisine}, com {max_online_delivery_cuisine_count} restaurantes.")

ValueError: attempt to get argmax of an empty sequence